
* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    min-width: 120px;
    display: block;
    width: 100%;
    height: 32px;
    padding: 6px 6px;
    line-height: 1.5;
    color: #333;
    background-color: #fefefe;
    border: 1px solid #bbb;
}

.nav {
    list-style-type: none;
    display: flex;
    border-radius: 2px 2px 0 0;
    background-color: #ededed;
    border-bottom: 1px solid #ccc;
}

.nav > li + li {
    margin-left: 2px;
}

.nav .nav-item {
    margin-bottom: -1px;
    display: block;
    padding: 6px 12px;
    border-radius: 2px 2px 0 0;
    overflow: hidden;
}

.nav .nav-item:not(.active) > span {
    cursor: pointer;
}

.tabs {
    margin-bottom: 20px;
}

.nav .nav-item:first-of-type > .move-tab.left,
.nav .nav-item:last-of-type > .move-tab.right,
.tabs .tab-content > div:first-of-type .move-item.up,
.tabs .tab-content > div:last-of-type .move-item.down {
    display: none;
}

.move-item {
    border: 1px solid #000;
    padding: 4px;
    margin: 2px;
}

.move-item:hover {
    background-color: #0f5c9f !important;
    color: white;
    cursor: pointer;
}

.nav .nav-item:hover {
    background: #e1e0e0;
}

.nav .nav-item.active {
    background-color: #fafafa;
    cursor: default;
    border: 1px solid #ccc;
    padding: 5px 11px;
    border-bottom-color: #fafafa;
}

.nav .nav-item.active:hover {
    background: #fafafa;
}

.tab-content {
    border: 1px solid #ccc;
    background-color: #fafafa;
    margin-top: -1px;
    display: none;
    min-height: 300px;
    overflow: hidden;
}

.tab-content.active {
    display: block;
}

#current-config {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}

.palette {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    padding: 15px 12px 3px;
    clear: both;
}

.palette:hover {
    background-color: #6daae055;
}

.palette:hover * {
    background-color: #6daae055;
}

.field {
    margin: 9px 15px 15px 15px;
    padding: 15px 12px 3px;
    float: left;
    background-color: #fefefe;
    border: 1px solid #6daae0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.field:hover {
    background-color: #6daae055;
}

.field:hover * {
    background-color: #6daae055;
}

.linebreak {
    clear: both;
    display: table;
    content: '';
    height: 20px;
    background-color: #eee;
    width: 100%;
}

.linebreak:hover {
    background-color: #6daae055;
}

.linebreak:hover * {
    background-color: #6daae055;
}